<h2>Your Pragmatic Cart</h2>

<% if notice %>
	<p class="notice"><%= notice %></p>
<% end %>

<ul>
	<% @cart.line_items.each do |item| %>
		<li><%= item.quantity %> &times; <%= item.product.title %></li>
	<% end %>
</ul>
